/*
	CSS file for all the textfield objects
*/
input[type=text], input[type=password] {
	width: 20%;
	padding: 6px 10px;
	margin:4px 0;
	border: 5px solid #2794E3
	align-self: center;
	box-sizing: border-box;
}

